@model RegisterModel
<h6 class="display-4">Sisteme Kayıt Olun</h6>
<hr />
<form asp-controller="Account" asp-action="Register" method="post">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row mb-2">
                <div class="col-sm-3">
                    <label class="col-form-label">Adınız:</label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="Firstname" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-sm-3">
                    <label class="col-form-label">Soy Adınız:</label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="Lastname" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-sm-3">
                    <label class="col-form-label">Kullanıcı Adınız:</label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="Username" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-sm-3">
                    <label class="col-form-label">Şifreniz:</label>
                </div>
                <div class="col-sm-9">
                    <input asp-for="Password" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row mb-2">
                <div class="col-sm-9 offset-sm-3">
                    <button type="submit" class="btn btn-primary">Kayıt Ol</button>

                </div>
            </div>
        </div>
    </div>
</form>