


<div class="row">
    <div class="col-md-4">
        <h1 class="display-4">Tüm Kitapları Göster</h1>
    </div>
    <div class="col-md-4">
        <form asp-action="GetAllBooksFromRestFullApi" method="post">
            <input type="submit"  value="Getir" />
        </form>
    </div>
</div>